{% extends 'base.html.twig' %}



{% block title %}Entreprises{% endblock %}

{% block body %}
{% include '/index.html' %}
    
    <h1>Entreprises </h1>
    <table class="table">

        <thead>
            <tr>
                <th>Nom de l'entreprise</th>
                <th>Ville</th>
                <th>Spécialité</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    
            <tr><div class="newdiv"><a class="new" href="{{ path('app_entreprise_new') }}"><i class="fa-solid fa-plus"></i></a></div></tr>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.ENTNOM }}</td>
                <td>{{ entreprise.ENTADRESSE }}
                <br>{{ entreprise.ENTVILLE }}
                <br>{{ entreprise.ENTCP }}
                <br>{{ entreprise.ENTPAYS }}</td>
                <td>{{ entreprise.ENTSPECIALITE }}</td>
                <td>
                    <a class="lock" href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a class="edit" href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}"><i class="fa-solid fa-pen"></i></a>
                    <a class="del" href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas d'entreprise</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
