{% extends 'base.html.twig' %}


{% block title %}Personne{% endblock %}

{% block body %}
{% include '/index.html.twig' %}
    <h1>Personne</h1>
            <tr><div class="newdiv"><a class="new" href="{{ path('personne_new') }}"><i class="fa-solid fa-plus"></i></a></div></tr>

    <table class="table">
        <thead>
            <tr>
                <th>Nom et prenom</th>
                <th>Entreprise</th>
                <th>Telephone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.PERNOM|upper }}
                {{ personne.PERPRENOM }}</td>
                <td>{{ personne.entreprise.ENTNOM ?? 'Aucune entreprise associée' }}</td> 
                <td>{{ personne.telephone }}</td>
                <td>{{ personne.email }}</td>
                <td>
                    <a class="edit" href="{{ path('personne_edit', {'id': personne.id}) }}"><i class="fa-solid fa-pen"></i></a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}