{% extends 'base.html.twig' %}

{% block title %}Personne index{% endblock %}

{% block body %}
    <h1>Personne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PER_NOM</th>
                <th>PER_PRENOM</th>
                <th>Entreprise</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.id }}</td>
                <td>{{ personne.PERNOM }}</td>
                <td>{{ personne.PERPRENOM }}</td>
                <td>{{ personne.entreprise.ENTNOM ?? 'N/A' }}</td> 
                <td>{{ personne.telephone }}</td>
                <td>{{ personne.email }}</td>
                <td>
                    
                    <a href="{{ path('personne_edit', {'id': personne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personne_new') }}">Ajouter une personne</a>
    <a href="{{ path('personne_index') }}">Back to list</a>

{% endblock %}