{% block body %}{% include 'index.html' %}{% endblock %} 
<h1>Stages</h1>
<div class="demiwhite">
<table class="stagetable scrollable-table">

<form action="{{ path('search') }}" method="get">
    <input type="search" name="q" placeholder="Entrez votre recherche...">
    <button type="submit">Rechercher</button>
</form>
<br>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Entreprise</th>
            <th>Ville</th>
            <th>Activité</th>
            <th>Tuteur</th>
            <th>Personne à contacter pour envoi CV</th>
            <th>Profils</th>
            <th>Etudiants</th>
            <th>Jury</th>
        </tr>
    </thead>
    <tbody class="tliste">
        {% for entreprise in entreprises %}
            <tr>
                <td><a class="lock" href="./stage?id={{entreprise.id}}"><i class="fa-solid fa-eye"></i></a></td>
                <td>{{ entreprise.getENTNOM() }}</td>
                <td>{{ entreprise.getENTVILLE() }}</td>
                <td>{{ entreprise.getENTSPECIALITE() }}</td>
                <td>
                    {% for personne in entreprise.getPersonnes() %}
                        {% if personne.getProfil() and personne.getProfil().getTUTACCORD() %}
                            {{ personne.getPERNOM() }} {{ personne.getPERPRENOM() }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for personne in entreprise.getPersonnes() %}
                        {% if personne.getProfil() and personne.getProfil().getENVACCORD() %}
                            {{ personne.getPERNOM() }} {{ personne.getPERPRENOM() }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for formation in entreprise.getFormations() %}
                        {{ formation.getForLibelle() }}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for etudiant in etudiantsParEntreprise[entreprise.getId()] %}
                        {{ etudiant.getPERNOM() }} {{ etudiant.getPERPRENOM() }}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for personne in entreprise.getPersonnes() %}
                        {% if personne.getProfil() and personne.getProfil().getJurAnnee() %}
                            {{ personne.getPERNOM() }} {{ personne.getPERPRENOM() }} ({{ personne.getProfil().getJurAnnee() }})<br>
                        {% endif %}
                    {% endfor %}
                </td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>